<% include ../partials/header %>

<h1>Sign a Contract</h1>

<form action="/roster" method="POST">
	<label for="name">
		Name:
    	<input type="text" name="name" placeholder="AJ Styles">
    </label>
    <label for="nickname">
		Name:
    	<input type="text" name="nickname" placeholder="The Phenomenal">
    </label>
    <label for="weight">
		Weight:
    	<input type="text" name="weight" placeholder="218 lbs">
    </label>
    <label for="hometown">
		Email:
    	<input type="text" name="hometown" placeholder="Gainesville, GA">
    </label>
    <label for="finisher">
		Finishing Move:
    	<input type="text" name="finisher" placeholder="Styles Clash">
    </label>
    <label for="themeMusic">
		Email:
    	<input type="text" name="themeMusic" placeholder="&quot;Phenomenal&quot; by CFO$">
    </label>
    <button>Submit</button>
</form>

<% include ../partials/footer %>
