<% include ../partials/header %>

<ul class="list-group">
	<% roster.forEach(function(wrestler){ %>
	<a href="/roster/<%= wrestler.slug %>"><li class="list-group-item"><%= wrestler.name %></li></a>
	<% }); %>
</ul>
<a class="btn btn-warning" href="/roster/apply">Sign a contract</a>

<% include ../partials/footer %>