<% include ./partials/header %>

	<div class="container">
		<h1>Sign up</h1>
		<form action='/register' method='POST'>
			<div class='form-group'>
				<label for='email'>Email:</label>
			    	<input type='email' name='email' class='form-control' placeholder='username'>
			</div>
			<div class='form-group'>
			    <label for='password'>Password:</label>
			    	<input type='password' name='password' class='form-control' placeholder='password'>
			</div>
			<div class='form-group'>
				<label for='reEnterPassword'>Confirm Password:</label>
			    	<input type='password' name='reEnterPassword' class='form-control' placeholder='password'>
			</div>
			    <button class='btn btn-primary'>Submit</button>
			</div>
		</form>
	</div>

<% include ./partials/footer %>
