<% include ../partials/header %>

<h1>Post Roleplay</h1>

<form action="/roleplays" method="POST">
	<label for="title">
		Name:
    	<input type="text" name="title" placeholder="Roleplay Title">
    </label>
    <label for="wrestler">
		Name:
    	<select name="wrestler_id">
    		<% wrestler.forEach(function(wrestler){ %>
			<option value="<%= wrestler.wrestler_id %>"><%= wrestler.name %></option>
			<% }); %>
		</select>
    </label>
    <label for="content">
		Weight:
    	<textarea name="content" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit."></textarea>
    </label>
    <button>Submit</button>
</form>

<% include ../partials/footer %>
