<% include ../partials/header %>

    <div class="container">
        <h1>Post Roleplay</h1>
        <form action="/roleplays" method="POST">
            <div class="form-group">
            	<label for="title">Title</label>
                <input type="text" class="form-control" name="title" placeholder="Roleplay Title">
            </div>
            <div class="form-group">
                <label for="wrestler_id">Wrestler</label>
            	<select class="form-control" name="wrestler_id">
            		<% wrestler.forEach(function(wrestler){ %>
        			<option value="<%= wrestler.wrestler_id %>"><%= wrestler.name %></option>
        			<% }); %>
        		</select>
            </div>
            <div class="form-group">
                <label for="roleplay">Roleplay </label>
            	<textarea class="form-control" name="roleplay" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit."></textarea>
            </div>
            <button>Submit</button>
        </form>
    </div>

<% include ../partials/footer %>
